.mus__brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.mus__brand h1 {
    color: #fff;
    margin-top: -2rem;
    font-family: var(--font-family);
    font-size: 22px;
    font-weight: 700;
}
.mus__brand h3 {
    color: #fff;
    margin-top: 5rem;
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 500;
    
}
.mus__brand div {
    flex: 1;
    max-width: 100px;
    min-width: 120px;
    margin: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

}
.mus__brand img {
    width: 100px;
}
.mus__brand-first {
   width: 25%;
   position: relative;
   top: 0;
   left: 0;
}

.mus__brand-second {
  width: 25%;
  position: absolute;
  top: -15px;
  left: -15px;
}
.mus__brand img {
    width: 100px;
}

@media screen and (max-width: 414px) {
    .mus__brand {
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        flex-direction: column;
     }

     .mus__brand h3 {
        margin-top: 0.5rem;
    }
}
@media screen and (max-width: 390px) {
    .mus__brand {
        flex: 1;

        display:grid;
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 1rem;

        
        
    }
   
    
    .mus__brand h3 {
        margin-top: -1rem;
        font-size: 12px;
    }  
    
    
    .mus__brand-groupa {
          display: flex;
          flex-direction: row;
    }
    .mus__brand img {
        width: 50%;
    }
    
    
}

 