.services__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}
.service {
    background: #04040e;
    border-radius: 2rem 2rem 1rem 1rem;
    border: 1px solid var(--color-primary);
    height: fit-content;
    transition: var(--transition);
}
.service:hover {
    background: transparent;
    border-color: #1A1212;
    cursor: default;
}
.service__head {
    background: #3a36a18a;
    padding: 1rem;
    border-radius: 2rem 2rem 0 0;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}
.service__head h3 {
    color: #fff;
    font-size: 1.1rem;
    text-align: center;
    font-family: var(--font-family);
}
.service__list {
    padding: 1rem;
}
.service__list li {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
}
.service__icon {
    color: white;
    margin-top: 2px;
}
.service__list p {
    font-size: 0.9rem;
    font-family: var(--font-family);
    color: white;
    font-weight: normal;
    margin-bottom: 1rem;
}
.mus__service h1 {
    font-size: 1.5rem;
    font-family: var(--font-family);
    color: #fff;
    margin-bottom: 0.5rem;
}
.mus__service {
    background: #191919;
}
.mus__service p {
    color: #fff;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1024px) {
    .services__container {
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
    .service {
        height: auto;
    }
}

@media screen and (max-width: 600px) {
    .services__container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}

















