@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Rufina', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #AE67FA 1.84%, #F49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #AE67FA -13.86%, #F49867 99.55%);
  
  --color-bg: #211810ED;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #81AFDD;
  --color-subtext: #FF8A71;
  --color-bgcontact:#1f1f38;
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
  --color-bg-variant: #2c2c66;
  --color-primary-variant:rgba(255, 255, 255, 0.4);
  --color-primary: #031B34;
  --container-width-lg: 75%;
  --container-width-ms: 90%;

  --transition: all 400ms ease;
}
